.infractions-table
{
	width: 100%;
}

.infractions-table-header
{
	font-size: 12px;
	font-weight: bold;
}

.infractions-table td
{
	padding: 5px;
	margin: 5px;
}


.infractions-table tr:hover
{
	background: #F6F4D0;
	color: black;
}