 <!-- This is a general one for the table of infractions ?? -->
 <div>
	 <!-- IF PAGINATION -->
	<ul class="linklist">
			<li class="rightside pagination">{TOTAL_INFRACTIONS} &bull; <!-- IF PAGINATION --><a href="#" onclick="jumpto(); return false;" title="{L_JUMP_TO_PAGE}">{PAGE_NUMBER}</a> &bull; <span>{PAGINATION}</span><!-- ELSE -->{PAGE_NUMBER}<!-- ENDIF --></li>
	</ul>
	 <!-- ENDIF -->
	 
	 <table class="table1">
		<thead>
			<tr>
				<th>{L_INFRACTION_DATE}</th> 
				<th>{L_USERNAME}</th>
				<th>{L_INFRACTION_REASON}</th>
				<th>{L_INFRACTION_POINTS}</th> 
				<th>{L_INFRACTION_EXPIRE}</th>
				<th>{L_INFRACTION_TOTAL_POINTS}</th>
				<th></th>
			</tr>
		</thead>
		
		<!-- BEGIN infraction -->
			<tr id="infraction{infraction.INFRACTION_ID}" class="<!-- IF infraction.S_ROW_COUNT is even -->bg1<!-- ELSE -->bg2<!-- ENDIF -->" <!-- IF infraction.VOID eq 1 -->style="background: #cccccc"<!-- ENDIF --> >
				<td>{infraction.ISSUE_TIME}</td>
				<td>{infraction.USER_PROFILE}</td>
				<td>{infraction.REASON}</td>
				<td>{infraction.POINTS_ISSUED}</td>
				<td>{infraction.EXPIRE_TIME}</td>
				<td>{infraction.TOTAL_POINTS}</td>
				<td><!-- IF infraction.DELETE_LINK --><a href="{infraction.DELETE_LINK}">{L_INFRACTION_DELETE}</a><!-- ENDIF --></td>
			</tr>
		<!-- END infraction -->
		
	 </table>
	 
	 <!-- IF PAGINATION -->
	<ul class="linklist">
			<li class="rightside pagination">{TOTAL_INFRACTIONS} &bull; <!-- IF PAGINATION --><a href="#" onclick="jumpto(); return false;" title="{L_JUMP_TO_PAGE}">{PAGE_NUMBER}</a> &bull; <span>{PAGINATION}</span><!-- ELSE -->{PAGE_NUMBER}<!-- ENDIF --></li>
	</ul>
	 <!-- ENDIF -->

 </div>