 <!-- This is a general one for the table of infractions ?? -->
 <div>
	 <table class="table1">
		<thead>
			<tr>
				<!-- click row to expand more detail - think of source mod bans system -->
				<!-- nah, open in a new page - also for sql details, for actions we need group names no? -->
				<th>Date</th> <!-- NOTE What order should date be? -->
				<th>Username</th>
				<th>Reason</th> <!-- include post subject title -->
				<th>Points Issued</th> <!-- Have points then in brackets (total X) ?? -->
				<th>Expire</th>
				<th>Total Points</th>
				<th>Actions</th>
				<th></th>
				<!-- too much info? -->
			</tr>
		</thead>
		
		<!-- BEGIN infraction -->
			<tr id="infraction{infraction.INFRACTION_ID}" class="<!-- IF infraction.S_ROW_COUNT is even -->bg1<!-- ELSE -->bg2<!-- ENDIF -->">
				<td>{infraction.ISSUE_TIME}</td>
				<td>{infraction.USER_PROFILE}</td>
				<td>{infraction.REASON}</td>
				<td>{infraction.POINTS_ISSUED}</td>
				<td>{infraction.EXPIRE_TIME}</td>
				<td>{infraction.TOTAL_POINTS}</td>
				<td><!-- Logic to check action, display Ban,Group Modifications --></td>
				
				<td><a href="{infraction.DELETE_LINK}">Delete</a></td>
				<!-- TODO - Actions can move OUT of groups aswell? - would be awesome!!!!!-->

			</tr>
		<!-- END infraction -->
		
	 </table>
	 

 </div>