<!-- INCLUDE mcp_header.html -->
<!-- IF S_INFRACTIONS_NO_USER eq 1 -->
<form method="post" id="mcp" action="{U_POST_ACTION}">

<h2>Issue Infraction</h2>

<div class="panel">
	<div class="inner"><span class="corners-top"><span></span></span>
	<p>Please use this form to enter a username or use the Issue Infraction button on posts to issue for posts </p>
	<fieldset>
	<dl>
		<dt><label for="username">{L_SELECT_USER}:</label></dt>
		<dd><input name="username" id="username" type="text" class="inputbox" /></dd>
		<dd><strong><a href="{U_FIND_USERNAME}" onclick="find_username(this.href); return false;">{L_FIND_USERNAME}</a></strong></dd>
	</dl>
	</fieldset>

	<span class="corners-bottom"><span></span></span></div>
</div>

<fieldset class="submit-buttons">
	<input type="reset" value="{L_RESET}" name="reset" class="button2" />&nbsp; 
	<input type="submit" name="submituser" value="{L_SUBMIT}" class="button1" />
	{S_FORM_TOKEN}
</fieldset>
</form>
<!-- ELSE -->
<form method="post" id="mcp" action="{U_POST_ACTION}">

<h2>Issue Infraction</h2>

<div class="panel">
	<div class="inner"><span class="corners-top"><span></span></span>

	<h3>{USERNAME}</h3>

	<div>
		<div class="column1">
			<!-- IF AVATAR_IMG --><div>{AVATAR_IMG}</div><!-- ENDIF -->
		</div>

		<div class="column2">
			<dl class="details">
				<!-- IF RANK_TITLE --><dt>{L_RANK}:</dt><dd>{RANK_TITLE}</dd><!-- ENDIF -->
				<!-- IF RANK_IMG --><dt><!-- IF RANK_TITLE -->&nbsp;<!-- ELSE -->{L_RANK}:<!-- ENDIF --></dt><dd>{RANK_IMG}</dd><!-- ENDIF -->
				<dt>{L_JOINED}:</dt><dd>{JOINED}</dd>
				<dt>{L_TOTAL_POSTS}:</dt><dd>{POSTS}</dd>
				<dt>Infraction Points: </dt><dd>{INFRACTION_POINTS}</dd>
			</dl>
		</div>
	</div>

	<span class="corners-bottom"><span></span></span></div>
</div>

<!-- IF INFRACTION_POST -->
<div class="panel">
	<div class="inner"><span class="corners-top"><span></span></span>

	<h3>{L_POST_DETAILS}</h3>

	<div class="postbody">

		<div class="content">
			{POST_TEXT}
		</div>
	</div>

	<fieldset>
	<dl>
		<dt><label for="edit_post">Edit Post</label></dt>
		<dd><input type="checkbox" name="edit_post" value="1" /></dd>
	</dl>
	</fieldset>
	
	<span class="corners-bottom"><span></span></span></div>
</div>
<!-- ENDIF -->

<div class="panel">
	<div class="inner"><span class="corners-top"><span></span></span>

	<h3>Issue Infraction</h3>

	<fieldset>
		<dl>
			<dt><label for="ban">{INFRACTION_TEMPLATE_NAME}:</label></dt>
			<dd><input name="name" type="text" class="text medium" maxlength="255" id="name" /></dd>
		</dl>

		<dl>
			<dt><label for="reason">{INFRACTION_REASON}</label><br/><span>{INFRACTION_REASON_DESC}</span></dt>
			<dd><textarea rows="2" cols="40" class="text medium" id="ban" name="reason"></textarea></dd>
			
		</dl>
		
	
		</dl>
			<dl>
			<dt><label for="duration">{INFRACTION_DURATION}</label></dt>
				<dd><select name="duration" onchange="if(this.value==-1){document.getElementById('duration_custom').style.display = 'block';}else{document.getElementById('duration_custom').style.display='none';}">
				<option value="3 day">3 {INFRACTION_DAYS}</option>
				<option value="1 week">1 {INFRACTION_WEEK}</option>
				<option value="1 month" checked="checked">1 {INFRACTION_MONTH}</option>
				<option value="3 months">3 {INFRACTION_MONTHS}</option>
				<option value="0">{INFRACTION_PERMANENT}</option>
				<option value="-1">{INFRACTION_DURATION_CUSTOM}</option>
				
			</select>
		</dl>
		
		<dl id="duration_custom" stlye="display: none;">
			<dt>
				<label for="duration_custom">{INFRACTION_DURATION_CUSTOM}</label>
				<br/>
				<span>{INFRACTION_DUR_CUSTOM_NOTE}</span>
			</dt>
			
			<dd>
				<input type="text" class="inputbox" name="duration_custom" />
			</dd>
		</dl>
		
		<dl>
			<dt><label for="infraction_points">{INFRACTION_POINTS}</label></dt>
			<dd><input type="text" maxlength="255" class="text medium" name="infraction_points"></dd>
			
		</dl>
		
		<fieldset class="submit-buttons">
			<input type="reset" value="{L_RESET}" name="reset" class="button2" />&nbsp; 
			<input type="submit" name="submit" value="Submit" class="button1" />
			{S_FORM_TOKEN}
		</fieldset>
		
	</fieldset>
	
	<span class="corners-bottom"><span></span></span></div>
</div>

<form method="post" id="mcp" action="{U_POST_ACTION}">
<fieldset class="submit-buttons">
	<input type="reset" value="{L_RESET}" name="reset" class="button2" />&nbsp; 
	<input type="submit" name="issue_infraction" value="Submit" class="button1" />
	{S_FORM_TOKEN}
</fieldset>
<!-- ENDIF -->
<!-- INCLUDE mcp_footer.html -->