<!-- INCLUDE mcp_header.html -->
<h2>{L_INFRACTIONS}</h2>
<div class="panel">
	<div class="inner"><span class="corners-top"><span></span></span>
	<!-- Not in iff deliberately, get user links and that - maybe future has more stuff -->
	<h3>{L_FIND_USERNAME}</h3>
	<form method="post" id="mcp" action="{U_POST_ACTION}">
		<fieldset>
			<label for="username">{L_SELECT_USER}: </label> 
			<input name="username" id="username" type="text" class="inputbox" style="width:300px;"  />
			<a href="{U_FIND_USERNAME}" onclick="find_username(this.href); return false;">{L_FIND_USERNAME}</a>
			<input type="submit" name="submit" value="{L_SUBMIT}" class="button1" />
			{S_FORM_TOKEN}
		</fieldset>
	</form>
	<!-- IF S_INFRACTIONS_NONE eq 1 -->
	<p>{L_INFRACTIONS_NONE_FOUND}</p>
	<!-- ELSE -->
	<!-- TODO a form for filtering options? -->	
	<h3>{L_INFRACTIONS}</h3>
	<!-- INCLUDE infractions_view_table.html -->
	<!-- ENDIF -->
	<span class="corners-bottom"><span></span></span></div>
</div>
<!-- INCLUDE mcp_footer.html -->