 <!-- INCLUDE mcp_header.html -->
<h2>Infractions User: {USERNAME}</h2>
<div class="panel">
	<div class="inner"><span class="corners-top"><span></span></span>

	<h3>{USERNAME}</h3>

	<div>
		<div class="column1">
			<!-- IF AVATAR_IMG --><div>{AVATAR_IMG}</div><!-- ENDIF -->
		</div>

		<div class="column2">
			<dl class="details">
				<!-- IF RANK_TITLE --><dt>{L_RANK}:</dt><dd>{RANK_TITLE}</dd><!-- ENDIF -->
				<!-- IF RANK_IMG --><dt><!-- IF RANK_TITLE -->&nbsp;<!-- ELSE -->{L_RANK}:<!-- ENDIF --></dt><dd>{RANK_IMG}</dd><!-- ENDIF -->
				<dt>{L_JOINED}:</dt><dd>{JOINED}</dd>
				<dt>{L_TOTAL_POSTS}:</dt><dd>{POSTS}</dd>
				<dt>Infraction Points: </dt><dd>{INFRACTION_POINTS}</dd>
			</dl>
		</div>
	</div>

	<span class="corners-bottom"><span></span></span></div>
</div>

<div class="panel">
	<div class="inner"><span class="corners-top"><span></span></span>
	<h3>Infractions</h3>	
	<!-- IF S_INFRACTIONS_NONE eq 1 -->
	<p>No infractions available</p>
	<!-- ELSE -->
	
	<!-- TODO a form for filtering options? -->
	<!-- INCLUDE infractions_view_table.html -->
	
	<!-- ENDIF -->
	
	<!-- TODO Pagination here! -->
	<span class="corners-bottom"><span></span></span></div>
</div>
<!-- INCLUDE mcp_footer.html -->