<!-- INCLUDE mcp_header.html -->
<h2>Infractions Index</h2>
<div class="panel">
	<div class="inner"><span class="corners-top"><span></span></span>
	<!-- IF INFRACTION_DELETED eq 1 -->
		<div class="inner" style="background: yellow"><span class="corners-top"><span></span></span>
		Infraction deleted
		<span class="corners-bottom"><span></span></span></div>

	<!-- IF S_INFRACTIONS_NONE eq 1 -->
	<p>No infractions available</p>
	<!-- ELSE -->
	<!-- TODO a form for filtering options? -->
	<h3>Recent Infractions</h3>
	<!-- INCLUDE infractions_view_table.html -->
	
	<!-- ENDIF -->
	
	<!-- TODO Pagination here! -->
	<span class="corners-bottom"><span></span></span></div>
</div>


<!-- INCLUDE mcp_footer.html -->